<%= form_with model: @drama do |f| %>
  <table>
    <tr>
      <th><%= f.label :name ,"名前" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :release_day ,"公開日" %></th>
      <td><%= f.text_field :release_day %></td>
    </tr>
    <tr>
      <th><%= f.label :image ,"画像" %></th>
      <td><%= f.file_field :image %></td>
    </tr>
    <tr>
      <th><%= f.label :summary ,"あらすじ" %></th>
      <td><%= f.text_area :summary %></td>
    </tr>
    <tr>
      <th><%= f.label :cast ,"キャスト" %></th>
      <td><%= f.text_area :cast %></td>
    </tr>
  </table>
  <div>
    <ul>
      <li><%= f.submit "登録完了する"%></li>
    </ul>
  </div>
<% end %>
