<%= render "shared/flash" %>
<div class="dark_color">
  <div class="layout_wide">
    <div class="list">
      <% @dramas.each do |drama| %>
        <div class="recommend_img img_50 img_30 img_20 img_10">
            <% if drama.image.attached? %>
              <%= link_to (image_tag drama.image, class: "drama_img"), drama %>
            <% end %>
            <div class="color_gold name_size"><%= drama.name %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @dramas.each do |drama| %>
      <tr>
        <td>
          <%= link_to "編集", [:edit, drama] %>
        </td>
        <td>
          <%= link_to "削除", drama, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
