<section class="mainContent">


  <div class="container">
    <div class="drama_left">
      <% if @drama.image.attached? %>
        <%= image_tag @drama.image, class: "drama_img" %>
      <% end %>
    </div>
    <div class="drama_right">
    <h2><%= @drama.name %>(<%= @drama.release_day %>)</h2>
      <div class="mybox">
        <div><%= @drama.summary %></div>
      </div>
      <h5 class="summary_head">出演者</h5>
      <div><%= @drama.cast %></div>
    </div>
  </div>

  <div>
    <ul>
      <li><%= link_to "一覧に戻る", :dramas %></li>
    </ul>
  </div>
</section>
