<section class="mainContent">
<div class="layout_back">
  <div class="layout_position">
    <div class="layout_item_back dark_color dark_color_position">
      <div class="container">
        <div class="drama_left">
          <% if @drama.image.attached? %>
            <%= image_tag @drama.image, class: "drama_img" %>
          <% end %>
        </div>
        <div class="drama_right font_white">
          <h2 class="color_gold"><%= @drama.name %>(<%= @drama.release_day %>)</h2>
          <h5 class="summary_head">あらすじ</h5>
          <div><%= @drama.summary %></div>
          <h5 class="summary_head">出演者</h5>
          <div><%= @drama.cast %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="layout_position">
    <div class="layout_item_back dark_color white_color">
      <table>
        <tbody>
          <% @drama.comments.each do |comment| %>
            <tr>
              <td><%= @users.find(comment.user_id).name %></td>
              <td><%= comment.content %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <div>
    <ul>
      <li><%= link_to "一覧に戻る", :dramas %></li>
      <li><%= link_to "一覧に戻る", user_path(@drama, drama_id: @drama.id) %></li>
    </ul>
  </div>
</section>
