<div class="layout_back">
  <div class="layout_position">
    <div class="layout_item_back white_color dark_color_position">
      <table class="font_purple">
        <h2 class="text_center">コメント一覧</h2>
        <% @comments.each do |comment| %>
        <tr>
          <td class="comment_name td_height">
            <% if comment.drama.image.attached? %>
              <%= image_tag comment.drama.image, class: "comment_icon" %>
            <% end %>
          </td>
          <td class="comment_wide">
            <div class="font_black"><%= comment.drama.name %></div>
            <div><%= comment.content %></div>
          </td>
          <td class="coment_del_wide">
            <div>
              <%= link_to "削除", comment, method: :delete, data: { confirm: "本当に削除しますか？" } %>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
      <%= link_to "戻る", users_path %>
    </div>
  </div>
</div>
