<% provide(:title, "マイページ") %>
<%= render "shared/flash" %>
<div class="layout_position">
  <div class="layout_item_back white_color font_purple favorite_wide">
    <h2 class="text_center">マイページ</h2>
    <div class="d_row">
      <div class="user_left favorite_margin">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class: "favorite_icon" %>
        <% else %>
          <%= image_tag "default_icon.jpg", class: "favorite_icon" %>
        <% end %>
      </div>
      <div class="favorite_margin">
        <h4 class="font_black"><%= @user.name %></h4>
        <div class="profile_wide">
          <%= @user.profile %>
        </div>
      </div>
    </div>
    <div class="text_center padding_position mypage_btn">
      <%= link_to "編集", edit_user_path(@user), class: "btn btn_color_purple" %>
    </div>
  </div>
</div>
<div class="layout_position navi_margin">
  <div class="layout_item_back white_color font_purple favorite_wide">
    <div class="navi_position">
      <div class="favorite_navi navi_btn">お気に入り一覧</div>
      <div class="comment_navi navi_btn">投稿レビュー一覧</div>
    </div>
    <div class="favorite_list_position d_none">
      <div class="favorite_list">
        <% if @favorites.count.zero? %>
          登録している作品がありません
        <% else %>
          <% @favorites.each do |favorite| %>
            <div>
              <% if favorite.drama.image.attached? %>
                <%= link_to (image_tag favorite.drama.image, class: "favorite_img"), drama_path(favorite.drama) %>
              <% end %>
              <div class="favorite_name_size"><%= favorite.drama.name %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="favorite_list_row d_none">
      <% if @comments.count.zero? %>
        投稿したレビューがありません
      <% else %>
        <% @comments.each do |comment| %>
          <div class="d_row">
            <div>
              <% if comment.drama.image.attached? %>
                <%= image_tag comment.drama.image, class: "drama_img_small" %>
              <% end %>
            </div>
            <div class="user_comment">
              <div class="font_black"><%= comment.drama.name %></div>
              <div><%= comment.content %></div>
            </div>
            <div><%= link_to "更新", edit_comment_path(comment) %></div>
            <div><%= link_to "削除", comment, method: :delete, data: { confirm: "本当に削除しますか？" } %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
